<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="/post" method="post">
    <table>
        <tr>
            <td><label>id: </label></td>
            <td><input type="text" id="id" name="id"></td>
        </tr>
        <tr>
            <td><label>姓名: </label></td>
            <td><input type="text" id="name" name="name"></td>
        </tr>
        <tr>
            <td><label>性别: </label></td>
            <td><input type="text" id="gender" name="gender"></td>
        </tr>
        <tr>
            <td><label>年龄: </label></td>
            <td><input type="text" id="age" name="age"></td>
        </tr>
        <tr>
            <td><label>生日: </label></td>
            <td><input type="text" id="birth" name="birth"></td>
        </tr>
        <tr>
            <td><input id="submit" type="submit" value="提交"></td>
        </tr>
    </table>
</form>
</body>
</html>